.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100vh;
    background-color: rgb(75, 99, 149, .5);
    padding: 32px;
}

.current-image {
    border-radius: 8px;
    box-shadow: 0px 0px 7px grey;
    width: 100%;
}

.arrow {
    position: absolute;
    width: 32px;
    height: 32px;
    color: white;
    filter: drop-shadow(0px 0px 5px grey);
    cursor: pointer;
}

.arrow-left {
    left: 16px;
}

.arrow-right {
    right: 16px;
}

.circle-indicators {
    display: flex;
    position: absolute;
    bottom: 16px;
}

.current-indicator {
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 8px;
    cursor: pointer;
}

.hide-current-image {
    display: none;
}

.inactive-indicator {
    background-color: grey;
}